<% layout('./layouts/boilerplate')%> 
 <div class="row">
            <h1 class="text-center">Edit Recipe</h1>
            <div class="col-6 offset-3">
                <form action="/recipe/<%=recipe._id%>?_method=PUT"  class="was-validated novalidate" method="POST" enctype="multipart/form-data">
                    <div class="mb-3"> 
                    <label class="form-label" for="title">Title</label>
                    <input type="text" required class="form-control" value="<%=recipe.title%>" name="recipe[title]" >
                    </div>
                    <div class="mb-3"> 
                        <label for="desc" class="form-label">Description</label>
                        <textarea  required name="recipe[description]" class="form-control" value="<%=recipe.description%>" ><%=recipe.description%></textarea>
                    </div>
                    <div class="mb-3"> 
                    <label for="ingredients" class="form-label ">Ingredients</label>
                    <input type="text"  required class="form-control" name="recipe[ingredients]"  value="<%=recipe.ingredients%>">
                    </div>
                    <div class="mb-3"> 
                        <label for="image" class="form-label ">Add Images</label>
                        <input type="file" required class="form-control" name="image" multiple>
                    </div>
                    <div class="mb-3"> 
                    <label for="instructions" class="form-label">Instructions</label>
                    <textarea name="recipe[instructions]" required class="form-control" value="<%=recipe.instructions%>" ><%=recipe.instructions%> </textarea>
                    </div>
                    <button class="btn btn-success mt-2 mb-2" type="submit">Update</button>
                </form>
                <a href="recipe">Back to Recipes</a> 
            </div>  
    