<% layout('./layouts/boilerplate')%> 
        
        <h1><%=recipie.title%></h1>
        <h2>Ingredients : <%=recipie.ingredients%></h2>
        <img src="<%=recipie.image%>">
        <h3>Recipe Instructions : </h3>
        <p><%=recipie.instructions%> </p>
        <footer> 
            <a href="/recipe">All recipes</a>
            <a href="/recipe/<%=recipie._id%>/edit">Edit recipe</a>
      
            <form action="/recipe/<%=recipie._id%>?_method=DELETE" method="POST">       <button value="delete">Delete</button></form>
        </footer>
